/* Page */
.body {
    letter-spacing: 0em !important;
    width: 100vw !important;
}

/* Navbar */
/* Top Menu */
.navbar {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.container-fluid{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

/* .container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
} */

/* Side Menu */
.sidebar {
    border-radius: 0rem !important;
}

/* Body */
.container {
    max-width: none !important;
    padding-left: 0rem;
    padding-right: 0rem;
}

main {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

#component-sidebar{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    width: 20% !important;
}

.col-md-9 {
    padding-right: 0rem !important;
    padding-left: 4rem !important;
    width: 80% !important;
}

.container .post {
    height: 85vh !important;
    overflow: scroll !important;
}

article{
    padding-right: 25%;
}

article header {
    
}

.row{
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.col{
    padding-left: 0rem;
    padding-right: 0rem;
}

/* Elements */
/* Admonition */
.admonition {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color:#000000;
    margin-top: 1rem;
    
}

.admonition-title {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: semibold;
    width: 100%;
    margin-top: 0px !important;
    padding-left: 5%;
}

.admonition p {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 !important;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.highlight {
    padding: 0 !important;
    padding-left: 5% !important;
}

/* Collapsible */
summary {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    width: 100%;
    margin-top: 0px !important;
    padding-left: 2rem;
    width: auto;
} 

pre{
    margin: 0rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border: #000000 1px solid;
}



