/* Page */
.body {
    letter-spacing: 0em !important;
    width: 100vw !important;
}

/* Navbar */
/* Top Menu */
.navbar {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    border-bottom: #000000 0.1rem solid !important;
    height: 6vh !important;
}

.container-fluid{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

/* Side Menu */
.sidebar {
    border-radius: 0rem !important;
    border: 0rem !important;
}

.nav-link{
    padding-left: 0rem !important;
}

/* Bottom Nav */
#component-preview{
    height: 6vh !important;
    padding: 0rem !important;
    border-top: #000000 0.1rem solid !important;margin-left: 5% !important;
    margin-right: 5% !important;
    vertical-align: middle !important;
}

/* Preview Buttons */
.previous-button {
    text-align: left !important;
}

.next-button {
    text-align: right !important;
}

/* Body */
.container {
    max-width: none !important;
    padding-left: 0rem;
    padding-right: 0rem;
}

main {
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: 88vh !important;
}

#component-sidebar{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    width: 20% !important;
    border-right: #000000 0.1rem solid !important;
    height: 88vh;
}

.col-md-9 {
    padding-right: 0rem !important;
    padding-left: 4rem !important;
    width: 80% !important;
}

.container .post {
    height: 88vh !important;
    overflow: scroll !important;
}

article header {
    
}

.row{
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.col{
    padding-left: 0rem;
    padding-right: 0rem;
}

/* Elements */
/* Admonition */
.admonition {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color:#000000;
    margin-top: 1rem;
    
}

.admonition-title {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: semibold;
    width: 100%;
    margin-top: 0px !important;
    padding-left: 5%;
}

.admonition p {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 !important;
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.highlight {
    padding: 0 !important;
    padding-left: 5% !important;
}

/* Collapsible */
summary {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: semibold;
    width: 100%;
    margin-top: 0px !important;
    padding-left: 2rem;
    width: auto;
}

pre {
    margin: 0rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: inherit !important;
    color: inherit !important;
}

code {
    padding: 0rem !important;
    margin: 0rem !important;
    background-color: inherit !important;
    color: inherit !important;
}

#codeblock {
    background-color: #000000 !important;
    color: #ffffff !important;
}

#accordion {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: #000000 0.1rem solid !important;
}

#codeline {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: .2rem .8rem !important;
    font-size: 1em !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: fit-content;
}

/* Borders */
hr{
    border-top: #000000 0.1rem solid !important;
    opacity: 25% !important;
}

.previous-button{
    display: flex !important;
    align-items: center !important;
}

.next-button{
    display: grid !important;
    align-items: center !important;
}